
.login-pf body {
	background: #080808 url("../img/bg-login.jpg") repeat-x scroll 50% 0px;
}

#kc-logo {
    background-color: white;
}

#kc-logo-wrapper {
    background: url("../img/yolean-logo.png") no-repeat top right;
    height: 45px;
    background-size: contain;
}
